.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 6vw;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 2s;

    
}

.header-contents h2{
    font-size: 4vw;
    font-weight: 600;
    color: #fff;
}
.header-contents p{
    color: #ffffffc8;
    font-size: 1.3vw;   
}
.header-contents button{
    margin-bottom: 10px;
    padding: 8px 20px;
    border: none;
    background: #fff;
    border-radius: 10px;
    font-size: 1.5vw;
    font-weight: 600;
    cursor: pointer;
}

.header-contents button:hover{
    background: #f18203;
    color: #fff;
}

